@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div>
    <p>This site doesn't mess with your privacy.</p>
    <ul>
        <li>Doesn't have any cookies.</li>
        <li>Doesn't keep sessions.</li>
        <li>Doesn't keep your documents</li>
    </ul>
</div>